[2021-07-06 11:01] prathimacode-hub opened #1 "Star the repo 🌟"
Consider starring this repository if you found this project helpful.

[2021-07-06 11:01] prathimacode-hub opened #2 "Fork the repo 🍴"
Never work on master branch. Kindly fork it to your local repository before you start contributing.

[2021-07-06 11:02] prathimacode-hub opened #3 "Contribute to this repo 🔔"
Contribute to this respository to shower your love towards this project and getting started with Open Source/Github.

[2021-07-08 06:17] letus21500 opened #4 "Text Preprocessing in NLP"
I want to contribute to this project under DCP'21
I want to add the Text preprocessing or cleaning scripts in NLP. Eg. Lowercasing, Punctuation Removal, Removing stopwords, text standardization, Spelling correction, Tokenization, etc.

@prathimacode-hub Please assign this issue to me

[2021-07-08 09:20] prathimacode-hub commented on #4
That's amazing. Welcome to DCP'21. Contributions would start from 10th of July. Raise up an an issue separately for each issue you would work on and get it assigned. Issues are purely assigned on First Come First Basis. So stay alerted and participant can work on only 1 issue at a time. This is to be fair with everyone. Any queries, don't hesitate to ask. All the best for your open source journey.

[2021-07-10 07:33] prathimacode-hub commented on #4
If you to interested to work on this issue, kindly create a new issue with the title using issue template provided. @letus21500

[2021-07-10 08:58] ayushi424 opened #5 "Adding ML algorithm- Linear Regression"
Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
I want to contribute a Machine Learning Algorithm i.e. Linear Regression, which is the most simple and basic ml algorithm.

**Describe the solution you'd like...**

I would follow steps:
- Step 1  Data Preprocessing and exploration.
- Step 2 Data Cleaning(This is an option

[2021-07-10 09:03] prathimacode-hub commented on #5
Sure, issue assigned. Welcome back to this new repo as a DevIncept participant. Kindly go through the project structure given before you work on issue. All the best. @ayushi424

[2021-07-10 17:45] vaishnavipatil4848 opened #6 "Random Forest Classifier"
Define You:

DevIncept Participant

**Is your feature request related to a problem? Please describe.**
I want to contribute Machine Learning Algorithm-Random Forest Classifier explaining the logic as well as practical implementation.

Describe the solution you'd like...

**Steps to be followed:**

* Explanation of the Working of Random Forest Classifier Algorithm.
*  Exploring the data and visuali

[2021-07-10 17:57] prathimacode-hub commented on #6
Hey, hope you understood the intent of the project. Here specific projects are not accepted. But instead choose an algorithm you would like to work on. For example decision tree classifier, create this repository. Now explain decision tree classifier using project file and README taking some project like this into consideration. This means if you want to work on email spam classification, then in

[2021-07-10 18:40] vaishnavipatil4848 commented on #6
Thank you for clarification.  The issue has been updated by me.

[2021-07-10 18:41] prathimacode-hub commented on #6
Cool, change the issue title as well to the "Algorithm Name". @vaishnavipatil4848

[2021-07-10 18:43] prathimacode-hub commented on #6
I had assigned issue to you. You can proceed. @vaishnavipatil4848

[2021-07-11 10:27] letus21500 opened #7 "Text Preprocessing in NLP"
Define You:
- [x] DevIncept Participant

Is your feature request related to a problem? Please describe.
I want to add the Text preprocessing or cleaning scripts in NLP. Eg. Lowercasing, Punctuation Removal, Removing stopwords, text standardization, Spelling correction, Tokenization, etc.

Describe the solution you'd like...

I would follow steps:

Step 1 Brief explanation about each technique.
Ste

[2021-07-11 12:33] prathimacode-hub commented on #7
Yes, you can proceed. @letus21500

[2021-07-11 14:46] #4 closed

[2021-07-11 14:52] jeffryjames opened #9 "Object Detection Using Computer Vision"
**Object detection**  is related to computer vision and image processing that deals with detecting instances of semantic objects of a certain class (such as humans, buildings, or cars) in digital images and videos. Given an image or a video stream, an object detection model can identify which of a known set of objects might be present

![download](https://user-images.githubusercontent.com/43547815

[2021-07-11 18:08] shivani6320 commented on #9
Hey @prathimacode-hub  ! I would like to work on this issue. I will use RCNN for the object detection in images. Please assign me this issue as DevIncept Participant.

[2021-07-12 07:11] chandu6111 opened #10 "Different ways of Encoding Categorical Data in Data pre-processing steps of Machine Learning"
---
Title: Different ways of Encoding Categorical Data in Data pre-processing steps of Machine Learning
Name: Chandana (chandu6111)
Label: Feature Request

---

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
They are quite a good number of types of Data Encoding. Encoding refers to converting Categorical Data into nume

[2021-07-12 07:13] chandu6111 commented on #10
@prathimacode-hub I would like to contribute to this under DCP`21
could you please assign me this issue? Or if there is anything specific you would like to know about the issue?

[2021-07-12 07:25] #5 closed

[2021-07-12 07:29] prathimacode-hub commented on #10
That's great to know. Yes follow the project structure and you are good to go. I had created a "Tutorials" folder in Machine Learning where you could add your repo. 👍@chandu6111

[2021-07-12 07:34] prathimacode-hub commented on #9
@shivani6320, as issues are assigned on first come first serve basis, jeffry would be eligible to take this up first. If he doesn't respond, then you would be considered.

@jeffryjames Kindly follow the issue template given to get issues assigned. And are you a participant of LGMSOC, Devincept or Contributor. How would I know what you are, if you don't follow the template. And also, hope you had r

[2021-07-12 07:35] prathimacode-hub commented on #10
Also can you make the issue title short stating specifically on the topic. @chandu6111

[2021-07-12 07:54] payaldutta opened #11 "Add a CONTRIBUTING.md"
**Description**

Create Contributors Guideline to help new Contributors get started with this Project.

**Additional Details**

*Add a CONTRIBUTING.md to allow new users to get started with knowing how to contribute.
*Add Screenshots wherever possible.
*Add the basic information about creating Issues, Pull Requests and Branching.
*Mention tutorials related to Git and Github to help them better und

[2021-07-12 07:54] #11 closed

[2021-07-12 07:58] payaldutta opened #12 "Add Contributors Section in readme"
I want to add a contributors section in the readme to showcase all the valuable contributors of this repository.
@prathimacode-hub Do assign me this issue under DCP'21.
Thank You.

[2021-07-12 08:22] prathimacode-hub commented on #12
Contributors section is already added. Also while creating issue or PR follow the templates given. @payaldutta

[2021-07-12 08:25] #12 closed

[2021-07-12 08:45] prathimacode-hub commented on #11
Why did you close the issue? @payaldutta

[2021-07-12 08:46] prathimacode-hub commented on #11
You should never close issue or PR from your end. @payaldutta

[2021-07-12 15:45] ayushi424 opened #13 "Random Forest Regressor Algorithm."
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

- I want to contribute **Random Forest Regressor Algorithm** using this [dataset](https://www.kaggle.com/ionaskel/laptop-prices) by following the given project structure.

**Describe the solution you'd like...**

-  I'll proceed by following steps:
Step 1: Data preprocess

[2021-07-12 15:54] jeffryjames commented on #9
@prathimacode-hub  I have Created Another issue and working on it. Let this issue be assigned to @shivani6320 .  Thank you!

[2021-07-12 16:18] prathimacode-hub commented on #9
On request of @jeffryjames. this issue is assigned to you. Hope you are willing to. @shivani6320

[2021-07-12 16:45] prathimacode-hub commented on #13
Issue assigned. @ayushi424

[2021-07-12 17:42] shivani6320 commented on #9
ok @prathimacode-hub ! Noted. I'll work towards it.

[2021-07-13 07:42] hrugved06 opened #14 "NLP based Chatbot"
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

I would like to add a tutorial on the creation of an NLP based Chatbot that is trained with Microsoft's DialoGPT model in Google Colab using its free GPU, which will be a .ipynb file, where I will be explaining each and every step.

**Describe the solution you'd like...**

[2021-07-13 08:27] prathimacode-hub commented on #14
That's awesome. Are you an devincept participant? @hrugved06

[2021-07-13 08:32] prathimacode-hub commented on #14
Issue assigned. @hrugved06

[2021-07-13 12:11] #6 closed

[2021-07-13 12:12] RaghuMadhavTiwari opened #16 "TEXT SUMMARIZATION"
I would like to add a text summarization model using NLP

[2021-07-13 12:17] prathimacode-hub commented on #16
Add the issue template and fill up the details according to your issue to get it assigned. @RaghuMadhavTiwari

[2021-07-13 13:02] RaghuMadhavTiwari commented on #16
PROJECT TITLE - EXTRACTIVE TEXT SUMMARIZATION ALGORITHM USING NLP

INTRODUCTION - We attempt to summarize articles by selecting a subset of words that retain the most important points.

PURPOSE - Want to contribute to text summarization in NLP. This a very easy-to-understand NLP technique and good beginner friendly.

BRIEF EXPLANATION - Summarization can be defined as the task of producing a conci

[2021-07-13 13:19] prathimacode-hub commented on #16
Hey, this is README template, not issue template.
Here is the link :  https://github.com/prathimacode-hub/DS-ScriptsNook/blob/main/.github/issue_template/feature_request.md

Do the changes for this issue template. Save the above file for your README.md @RaghuMadhavTiwari

[2021-07-13 14:54] prathimacode-hub commented on #16
Issue assigned. @RaghuMadhavTiwari

[2021-07-13 15:11] prathimacode-hub commented on #16
---
title: Project Title
about: Suggest an idea for this project
name: Your Name
label: Feature Request
Assignee: ''

---

Define You:

- [ ] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):**

**Additional context*

[2021-07-13 15:12] prathimacode-hub commented on #16
This is how it should look like, now fill the details here according to things asked. I had already enable the devincept participant option, since you didnt do it earlier.

[2021-07-13 15:35] RaghuMadhavTiwari commented on #16
title: Extractive Text Summarization using NLP
about: This script will contain a simple model to extractive text Summarization
name: Raghu Madhav Tiwari
label: This is a model on text summarization using NLP. It is for beginners in the field who would like to get familiar with NLP and understand how text summarization actually works.
Assignee: ''

Define You:

 DevIncept Participant
 Contributor
I

[2021-07-13 16:41] prathimacode-hub commented on #14
Issue assigned. @hrugved06

[2021-07-13 17:55] prathimacode-hub commented on #16
Issue assigned. @RaghuMadhavTiwari

[2021-07-15 15:47] #16 closed

[2021-07-15 15:49] #13 closed

[2021-07-16 09:43] #14 closed

[2021-07-16 09:46] #9 closed

[2021-07-17 09:20] ayushi424 opened #21 "Decision Tree Classifier Algorithm."
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

- I want to contribute **Decision Tree Classifier Algorithm** using this [dataset](https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv) by following the given project structure.

**Describe the solution you'd like...**

-  I'll proceed by

[2021-07-17 09:43] shivani6320 opened #22 "Word Tokenization Techniques in NLP"
### Title: Natural  Language Processing/Algorithms/ Word tokenization
### About: I would  like to perform different word tokenization techniques on text data with explanation.

### Name: Shivani Rana
### Label: Feature Request

Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
My feature requests to add an algorithm in NL

[2021-07-17 16:31] prathimacode-hub commented on #22
Issue assigned. @shivani6320

[2021-07-17 16:32] prathimacode-hub commented on #21
Issue assigned. @ayushi424

[2021-07-19 18:21] hrugved06 opened #23 "YouTube Comments Classifier"
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

I would like to add a tutorial on the creation of a Youtube Comments Classifier model that classifies whether the comment is harmful or not and also disables the spammed links, and this will be a .ipynb file, where I will be explaining each and every step.

**Describe the

[2021-07-19 18:23] prathimacode-hub commented on #23
Issue assigned. @hrugved06

[2021-07-20 16:06] #22 closed

[2021-07-22 07:21] #21 closed

[2021-07-22 09:22] #23 closed

[2021-07-22 16:12] vishvarana opened #27 "Color identification using OpenCV"
Script Title : Color identification in images
Suggest an script for this project : Python
YourName : Vishva Rana

✅ DevIncept Participant
 ✅Contributor
Is your feature request related to a problem? Please describe.
Problem is same as mentioned in title

Describe the solution you'd like...
This will detect color in images and show a pie chart of what different colours are used, also when given colo

[2021-07-22 16:52] prathimacode-hub commented on #27
Issue assigned. @vishvarana

[2021-07-23 10:16] ayushi424 opened #28 "KNN Algorithm."
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

- I want to contribute **KNN Algorithm** using this [dataset](https://www.kaggle.com/balakrishcodes/others?select=Movie_classification.csv) by following the given project structure.

**Describe the solution you'd like...**

-  I'll proceed by following steps:
Step 1: Data

[2021-07-23 10:19] prathimacode-hub commented on #28
Issue assigned. @ayushi424

[2021-07-26 11:39] #28 closed

[2021-07-27 07:55] vishvarana commented on #27
PR made
#30
Please review and let me know if any changes required

[2021-07-27 19:05] suy1968 opened #32 "Pandas-Series Notes"
Pandas-Series  Notes .

[2021-07-27 19:05] suy1968 commented on #32
please assign me as I am a contributor in DEVINCEPT @prathimacode-hub

[2021-07-28 06:54] prathimacode-hub commented on #32
First go through the README and CONTRIBUTING GUIDELINES. Follow the issue template given to create an issue along with details of project and appropriate things to get it assigned. And you can work on only 1 topic at a time. Choose a single topic to work and change the issue title accordingly. You can change all the details using edit options. Never close issues or PR from your end. @suy1968

[2021-07-28 06:59] prathimacode-hub commented on #32
I shall do one thing, I shall create issues now, give 20mins time. Once i create good number of issues, you can choose it from them. @suy1968

[2021-07-28 07:13] suy1968 commented on #32
Okay

[2021-07-28 07:17] prathimacode-hub opened #33 "Introduction to Numpy"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about numpy. Tutorial to numpy and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborative as possible.

[2021-07-28 07:18] prathimacode-hub opened #34 "Introduction to Pandas"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about pandas. Tutorial to pandas and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborative as possible

[2021-07-28 07:21] prathimacode-hub opened #35 "Feature Selection Techniques"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about feature selection techniques. Tutorial to feature selection techniques and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the READM

[2021-07-28 07:21] prathimacode-hub opened #36 "Clustering Techniques"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about clustering techniques. Tutorial to clustering techniques and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to

[2021-07-28 07:24] prathimacode-hub opened #37 "Support Vector Machines"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Support Vector Machines. Tutorial to Support Vector Machines and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You hav

[2021-07-28 07:24] prathimacode-hub opened #38 "Naive Bayes Classifier"

[2021-07-28 07:26] prathimacode-hub commented on #32
I started creating issues, do comment on them if anything interests you. @suy1968

[2021-07-28 07:27] prathimacode-hub opened #39 "Data Wrangling using Pandas"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Data Wrangling using Pandas. Tutorial to Data Wrangling using Pandas and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-28 07:28] suy1968 commented on #37
Please assign me as I am a contributor in Deveincept

[2021-07-28 07:29] suy1968 commented on #34
Please assign me as I am a contributor in Deveincept

[2021-07-28 07:29] suy1968 commented on #33
Please assign me as I am a contributor in Deveincept

[2021-07-28 07:29] suy1968 commented on #35
Please assign me as I am a contributor in Deveincept

[2021-07-28 07:29] suy1968 commented on #38
Please assign me as I am a contributor in Deveincept

[2021-07-28 07:29] suy1968 commented on #39
Please assign me as I am a contributor in Deveincept

[2021-07-28 07:29] prathimacode-hub opened #40 "Anamoly Detection"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Anamoly Detection. Tutorial to Anamoly Detection and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as e

[2021-07-28 07:29] suy1968 commented on #32
Okay Mam

[2021-07-28 07:30] prathimacode-hub opened #41 "Ensemble Methods"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Ensemble Methods. Tutorial to Ensemble Methods and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as ela

[2021-07-28 07:31] prathimacode-hub opened #42 "Linear Models for Regression & Classification"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Linear Models for Regression & Classification. Tutorial to Linear Models for Regression & Classification and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines

[2021-07-28 07:33] prathimacode-hub opened #43 "Composite Estimators"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Composite Estimators. Tutorial to Composite Estimators and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to b

[2021-07-28 07:36] prathimacode-hub opened #44 "Reinforcement Learning"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Reinforcement Learning. Tutorial to Reinforcement Learning and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have

[2021-07-28 07:37] prathimacode-hub opened #45 "Introduction to Matplotlib"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Matplotlib. Tutorial to Matplotlib and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborative as

[2021-07-28 07:38] prathimacode-hub commented on #33
You can work on only 1 issue at a time. Kindly choose 1 issue you would like to work. @suy1968

[2021-07-28 07:40] prathimacode-hub opened #46 "Introduction to Seaborn"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Seaborn. Tutorial to Seaborn and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborative as possib

[2021-07-28 07:43] prathimacode-hub opened #47 "DataFrames using Python"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about DataFrames using Python. Tutorial to DataFrames using Python and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You hav

[2021-07-28 07:43] prathimacode-hub opened #48 "Exploratory Data Analysis using Python"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Exploratory Data Analysis using Python. Tutorial to Exploratory Data Analysis using Python and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as w

[2021-07-28 07:46] prathimacode-hub opened #49 "Data Visualizations Using Matplotlib"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Data Visualizations Using Matplotlib. Tutorial to Data Visualizations Using Matplotlib and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well

[2021-07-28 07:48] prathimacode-hub opened #50 "Introduction to Natural Language Processing"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Natural Language Processing. Tutorial to Natural Language Processing and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as

[2021-07-28 07:50] prathimacode-hub opened #51 "Dimensionality Reduction"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Dimensionality Reduction. Tutorial to Dimensionality Reduction and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You h

[2021-07-28 07:50] prathimacode-hub opened #52 "Principal Component Analysis"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Principal Component Analysis. Tutorial to Principal Component Analysis and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the READM

[2021-07-28 07:52] prathimacode-hub opened #53 "GeoSpatial Analysis"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about GeoSpatial Analysis. Tutorial to GeoSpatial Analysis and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be

[2021-07-28 07:54] prathimacode-hub opened #54 "Introduction to Computer Vision"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Computer Vision. Tutorial to Computer Vision and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You hav

[2021-07-28 07:55] prathimacode-hub opened #55 "Introduction to Statistics"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Statistics. Tutorial to Statistics and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as

[2021-07-28 07:56] prathimacode-hub opened #56 "Introduction to Deep Learning"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Deep Learning. Tutorial to Deep Learning and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to

[2021-07-28 07:57] prathimacode-hub opened #57 "Introduction to Linear Algebra"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Linear Algebra. Tutorial to Linear Algebra and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have

[2021-07-28 07:57] prathimacode-hub opened #58 "Introduction to Jupyter Notebook"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Jupyter Notebook. Tutorial to Jupyter Notebook and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You h

[2021-07-28 07:59] prathimacode-hub opened #59 "Introduction to Calculus"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Calculus. Tutorial to Calculus and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as ela

[2021-07-28 08:02] prathimacode-hub opened #61 "Collaborative Filtering"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Collaborative Filtering. Tutorial to Collaborative Filtering and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You hav

[2021-07-28 08:05] prathimacode-hub opened #62 "Encoding Categorical Features"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Encoding Categorical Features. Tutorial to Encoding Categorical Features and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the REA

[2021-07-28 08:06] prathimacode-hub opened #63 "Data Visualizations with Seaborn"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Data Visualizations with Seaborn. Tutorial to Data Visualizations with Seaborn and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for t

[2021-07-28 08:07] prathimacode-hub opened #64 "Feature Engineering with Dates"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Feature Engineering with Dates. Tutorial to Feature Engineering with Dates and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the R

[2021-07-28 08:09] prathimacode-hub opened #65 "Normalization & Standardization"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Normalization & Standardization. Tutorial to Normalization & Standardization and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the

[2021-07-28 08:10] prathimacode-hub opened #66 "Classical Forecasting Methods"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Classical Forecasting Methods. Tutorial to Classical Forecasting Methods and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the REA

[2021-07-28 08:11] suy1968 commented on #33
Firstly, this one mam

[2021-07-28 08:11] prathimacode-hub opened #67 "Time Series Analysis"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Time Series Analysis. Tutorial to Time Series Analysis and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to b

[2021-07-28 08:13] prathimacode-hub opened #68 "Outlier Detection"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Outlier Detection. Tutorial to Outlier Detection and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as e

[2021-07-28 08:15] prathimacode-hub opened #69 "Cross Validation Techniques"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Cross Validation Techniques. Tutorial to Cross Validation Techniques and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-28 08:17] prathimacode-hub opened #70 "Introduction to Machine Learning"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Machine Learning. Tutorial to Machine Learning and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You h

[2021-07-28 08:30] prathimacode-hub opened #71 "Linear Discriminant Analysis"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Linear Discriminant Analysis. Tutorial to Linear Discriminant Analysis and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the READM

[2021-07-28 08:33] prathimacode-hub opened #72 "Introduction to Artificial Neural Networks"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Artificial Neural Networks. Tutorial to Artificial Neural Networks and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as f

[2021-07-28 08:34] prathimacode-hub opened #73 "Markov's Chain"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Markov's Chain. Tutorial to Markov's Chain and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elabora

[2021-07-28 08:35] prathimacode-hub opened #74 "K-Means Clustering"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about K-Means Clustering. Tutorial to K-Means Clustering and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as

[2021-07-28 08:36] prathimacode-hub opened #75 "Elastic Net Regression"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Elastic Net Regression. Tutorial to Elastic Net Regression and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have

[2021-07-28 08:37] prathimacode-hub opened #76 "Gaussian Mixture Model"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Gaussian Mixture Model. Tutorial to Gaussian Mixture Model and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have

[2021-07-28 08:37] prathimacode-hub opened #77 "Multilayer Perceptron"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Multilayer Perceptron. Tutorial to Multilayer Perceptron and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to

[2021-07-28 08:38] prathimacode-hub opened #78 "Stochastic Gradient Descent"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Stochastic Gradient Descent. Tutorial to Stochastic Gradient Descent and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-28 08:41] prathimacode-hub opened #79 "Bayesian Regression"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Bayesian Regression. Tutorial to Bayesian Regression and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be

[2021-07-28 08:41] prathimacode-hub opened #80 "Heirarchical Clustering"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Heirarchical Clustering. Tutorial to Heirarchical Clustering and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You hav

[2021-07-28 08:42] prathimacode-hub opened #81 "Introduction to Unsupervised Learning"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Unsupervised Learning. Tutorial to Unsupervised Learning and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the REA

[2021-07-28 08:43] prathimacode-hub opened #82 "Introduction to Supervised Learning"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Supervised Learning. Tutorial to Supervised Learning and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README.

[2021-07-28 08:44] prathimacode-hub commented on #33
Ok, issue assigned. @suy1968

[2021-07-28 08:46] prathimacode-hub opened #83 "Statistics, Probability and Inference"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Statistics, Probability & Inference. Tutorial to Statistics, Probability & Inference and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as

[2021-07-28 08:48] prathimacode-hub opened #84 "Bagging and Boosting"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Bagging and Boosting. Tutorial to Bagging & Boosting and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be

[2021-07-28 08:49] prathimacode-hub opened #85 "Spectral Clustering"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Spectral Clustering. Tutorial to Spectral Clustering and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be

[2021-07-28 08:50] prathimacode-hub opened #86 "Lowess Regression"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Lowess Regression. Tutorial to Lowess Regression and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as e

[2021-07-28 08:52] prathimacode-hub opened #87 "High Dimensional Data"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about High Dimensional Data . Tutorial to High Dimensional Data and how it's applied using sample code.

Topic : Linear Algebra

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as fo

[2021-07-28 09:11] #62 closed

[2021-07-28 09:34] hrugved06 commented on #74
Hey @prathimacode-hub , I'm interested in the issue, can you assign the issue to me

[2021-07-28 09:41] prathimacode-hub commented on #74
Sure, issue assigned. @hrugved06

[2021-07-28 09:43] prathimacode-hub opened #88 "Genetic Algorithm"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Genetic Algorithm. Tutorial to Genetic Algorithm and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as e

[2021-07-28 09:45] prathimacode-hub opened #89 "XGBoost"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about XGBoost. Tutorial to XGBoost and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborative as possib

[2021-07-28 09:46] prathimacode-hub opened #90 "Apriori"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Apriori. Tutorial to Apriori and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborative as possib

[2021-07-28 09:47] prathimacode-hub opened #91 "FP-Growth"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about FP-Growth. Tutorial to FP-Growth and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborative as po

[2021-07-28 09:48] prathimacode-hub opened #92 "BIRCH Clustering"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about BIRCH Clustering. Tutorial to BIRCH Clustering and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as ela

[2021-07-28 09:49] prathimacode-hub opened #93 "Ridge Regression"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Ridge Regression. Tutorial to Ridge Regression and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as ela

[2021-07-28 09:51] prathimacode-hub opened #94 "Word Embeddings"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Word Embeddings. Tutorial to Word Embeddings and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elabo

[2021-07-28 09:52] prathimacode-hub opened #95 "Documents Classification"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Documents Classification. Tutorial to Documents Classification and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You h

[2021-07-28 09:53] prathimacode-hub opened #96 "Introduction to Keras"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Keras. Tutorial to Keras and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborati

[2021-07-28 09:53] prathimacode-hub opened #97 "Hyperparameter Tuning"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Hyperparameter Tuning. Tutorial to Hyperparameter Tuning and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to

[2021-07-28 09:55] prathimacode-hub opened #98 "Convolution Neural Networks"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Convolution Neural Networks. Tutorial to Convolution Neural Networks and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as

[2021-07-28 09:56] prathimacode-hub opened #99 "Introduction to Tensor Flow"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Tensor Flow. Tutorial to Tensor Flow and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be

[2021-07-28 09:57] prathimacode-hub opened #100 "Recurrent Neural Networks"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Recurrent Neural Networks. Tutorial to Recurrent Neural Networks and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for

[2021-07-28 10:01] prathimacode-hub opened #101 "Gnerative Adversarial Networks"
Hey contributors, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Gnerative Adversarial Networks. Tutorial to Gnerative Adversarial Networks and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the READM

[2021-07-28 10:04] prathimacode-hub opened #102 "Sample Confidence Intervals & Hypothesis Testing"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Sample Confidence Intervals & Hypothesis Testing. Tutorial to Sample Confidence Intervals & Hypothesis Testing and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guid

[2021-07-28 10:05] prathimacode-hub opened #103 "Bayesian Interference"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Bayesian Interference. Tutorial to Bayesian Interference and how it's applied using sample code.

Topic : Statistics

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the

[2021-07-28 10:12] prathimacode-hub opened #104 "Sentiment Analysis"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Sentiment Analysis. Tutorial to Sentiment Analysis and how it's applied using sample code.

Topic : Statistics

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the READM

[2021-07-28 10:13] prathimacode-hub opened #105 "Edges"

[2021-07-28 10:17] prathimacode-hub opened #106 "Detection of Bright Spots in Images"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Detection of Bright Spots in Images. Tutorial to Detection of Bright Spots in Images and how it's applied using sample code.

Topic : Computer Vision

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guide

[2021-07-28 10:21] prathimacode-hub opened #107 "Live Barcode and QR Code Reader"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Live Barcode & QR Code Reader. Tutorial to Live Barcode & QR Code Reader and how it's applied using sample code.

Topic : Computer Vision

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for co

[2021-07-28 10:23] prathimacode-hub opened #108 "Multiple Linear Regression"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Multiple Linear Regression. Tutorial to Multiple Linear Regression and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. Y

[2021-07-28 10:26] prathimacode-hub opened #109 "Introduction to Scikit-Learn"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to Scikit-Learn. Tutorial to Scikit-Learn and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to b

[2021-07-28 11:04] prathimacode-hub opened #110 "Data Preprocessing in ML"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Data Preprocessing . Tutorial to Data Preprocessing  and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be

[2021-07-28 11:05] prathimacode-hub opened #111 "Introduction to NLTK"
Hey DCP participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about Introduction to NLTK. Tutorial to NLTK  and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the README. You have to be as elaborativ

[2021-07-28 13:14] suy1968 commented on #34
Please assign me as I am a contributor in Deveincept .

[2021-07-28 18:25] #32 closed

[2021-07-29 04:09] dilroseR commented on #110
can i do this?

[2021-07-29 11:11] ayushi424 opened #114 "Logistic Regression"
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

- I want to contribute **Logistic Regression Algorithm** using this [dataset](https://www.kaggle.com/adityakadiwal/water-potability) by following the given project structure.

**Describe the solution you'd like...**

-  I'll proceed by following steps:
Step 1: Data prepro

[2021-07-29 11:37] prathimacode-hub commented on #114
Issue assigned. @ayushi424

[2021-07-30 12:11] anubhav201241 opened #116 "Social Distance Detection"
---
Title: Social Distance Detector
About: Give alerts and warn the people when they come near to each other, Detect the live camera feed
Name: Anubhav
Label: Feature Request
Assignee: ''

---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, it is as it comes under the DS-ScriptsNook it's detect the people whether

[2021-07-30 16:44] prathimacode-hub commented on #110
Yes, you can proceed. Issue assigned. @dilroseR

[2021-07-30 16:52] dilroseR commented on #110
may i know how many points are for this issue?

[2021-07-30 16:53] #114 closed

[2021-07-30 16:57] prathimacode-hub commented on #116
Kindly follow the guidelines given. Creat an issue template with project details. And also go through the README file of the project for overview of project structure. @anubhav201241

[2021-08-01 16:36] #74 closed

[2021-08-02 06:33] suy1968 commented on #34
Please assign me as I am a contributor in Deveincept  @prathimacode-hub

[2021-08-02 06:35] prathimacode-hub commented on #34
Issue assigned. @suy1968

[2021-08-02 06:37] prathimacode-hub commented on #10
Your PR hasn't turned up yet. It's been long since created up the issue. @chandu6111

[2021-08-02 06:38] prathimacode-hub commented on #7
Your PR isn't turned up yet. Its been long since issue has been created. @letus21500

[2021-08-02 06:39] #33 closed

[2021-08-02 07:38] chandu6111 commented on #10
Hey @prathimacode-hub , due to me being busy with exams, I couldn't make a PR yet. I will make it in a week, if you could give me some time, it would be great 👍

[2021-08-02 07:40] prathimacode-hub commented on #10
Sure, you can. @chandu6111

[2021-08-02 15:24] hrugved06 commented on #107
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

I would like to add a tutorial on the creation of a Live Barcode and QR Code Reader that is trained in the local environment, this will be a real-time QR/Barcode Scanner which will be a .py file, where I will be explaining each and every step. I will also add a .ipynb fil

[2021-08-02 15:27] prathimacode-hub commented on #107
Issue assigned. @hrugved06

[2021-08-02 16:09] prathimacode-hub commented on #52
Issue assigned. @shivani6320

[2021-08-03 10:33] #34 closed

[2021-08-03 11:40] #107 closed

[2021-08-04 06:18] prathimacode-hub commented on #110
Points can be judged only once PR is done. Based on the work showcased. @dilroseR

[2021-08-04 06:43] suy1968 commented on #48
Please Assign me as I am a Contributor of Devincepts @prathimacode-hub

[2021-08-04 08:36] ayushi424 opened #121 "Decision Tree Regressor"
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

- I want to contribute **Decision Tree Regressor Algorithm** using this [dataset](https://www.kaggle.com/benroshan/factors-affecting-campus-placement) by following the given project structure.

**Describe the solution you'd like...**

-  I'll proceed by following steps:
S

[2021-08-04 08:56] prathimacode-hub commented on #121
Issue assigned. @ayushi424

[2021-08-04 11:52] #27 closed

[2021-08-04 12:51] prathimacode-hub commented on #48
Issue assigned. @suy1968

[2021-08-06 04:12] suy1968 commented on #48
Maam, Please update the leaderboard @prathimacode-hub  there my score show 40 only but I merge 2 commits i.e., Introduction to NumPy and introduction to Pandas

[2021-08-06 08:52] #121 closed

[2021-08-06 08:53] prathimacode-hub commented on #110
Update please? @dilroseR

[2021-08-06 08:54] prathimacode-hub commented on #52
Update please. @shivani6320

[2021-08-06 08:54] prathimacode-hub commented on #48
Yeah, sure. I would do that soon. 👍@suy1968

[2021-08-06 08:55] prathimacode-hub commented on #48
Updates on this issue? @suy1968

[2021-08-06 08:56] dilroseR commented on #110
will make a pr today or tommorrow

[2021-08-06 08:56] shivani6320 commented on #52
@prathimacode-hub I am creating a PR today.

[2021-08-06 08:57] prathimacode-hub commented on #7
Its been 26days since issue is been assigned to you. You can't held an issue for so long. I shall look for a day more and if no response yet, unfortunately I would have to unassign this issue. @letus21500

[2021-08-06 08:58] prathimacode-hub commented on #10
Yup, any update on this issue? Hope you know that last day is arriving up for DCP program. @chandu6111

[2021-08-06 09:19] prathimacode-hub commented on #48
Updated. @suy1968

[2021-08-06 15:10] prathimacode-hub commented on #7
This is ridiculous. First of all you don't care to answer but close the issue. You can never close na issue or PR from your end. I had given an opportunity but you don't even intend to respond back or address a reason. @letus21500

[2021-08-06 15:14] letus21500 commented on #4
I am really really sorry! But I was got too busy to do this! Really sory for doing this.

[2021-08-07 08:50] prathimacode-hub commented on #4
ok

[2021-08-07 08:56] ayushi424 commented on #93
Define You:

- [x] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

- I want to contribute **Ridge Regression Algorithm** using this [dataset](https://www.kaggle.com/rohanrao/air-quality-data-in-india) by following the given project structure.

**Describe the solution you'd like...**

-  I'll proceed by following steps:
Step 1: Data prepr

[2021-08-07 09:02] prathimacode-hub commented on #93
Issue assigned. But remember 9th is the last date to accept PR's. @ayushi424

[2021-08-07 09:03] prathimacode-hub commented on #48
9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @suy1968

[2021-08-07 09:03] prathimacode-hub commented on #10
Its been 5 days. 9th is the last date to accept PR's. If you wouldn't do it by then, obviously you can submit later but points won't be counted towards DCP program. @chandu6111

[2021-08-07 09:39] suy1968 commented on #48
I am submit today night @prathimacode-hub

[2021-08-07 10:51] chandu6111 commented on #10
Okay fine @prathimacode-hub
My exams schedule is very tight actually.. otherwise I would have submitted it already. I will contribute to this issue after the DCP program also... you can remove DCP label if you want to..

[2021-08-07 10:58] prathimacode-hub commented on #10
Ok 👍

[2021-08-07 14:52] #93 closed

[2021-08-08 04:52] #52 closed

[2021-08-08 08:57] anubhav201241 commented on #116
@prathimacode-hub Can I contribute to it I have made the issue template for it :)

[2021-08-08 09:57] #110 closed

[2021-08-08 09:59] prathimacode-hub commented on #116
Yes. But last date to merge up the PR's is tomorrow. Only if you could assure that PR will be submitted by tomorrow I can assign it to you. @anubhav201241

[2021-08-08 10:00] anubhav201241 commented on #116
Sure I will :) made the Pr by today itself

[2021-08-08 10:04] prathimacode-hub commented on #116
Cool, issue assigned. @anubhav201241

[2021-08-09 08:14] prathimacode-hub commented on #48
Are you doing it or not? @suy1968

[2021-08-10 08:24] prathimacode-hub commented on #48
Time is up. Unfortunately i have to remove the label. But you can work on it as long as you turn up this PR asap. Its already late and issue is assigned 6 days ago. @suy1968

[2021-08-10 10:21] prathimacode-hub commented on #116
I didn't expect this from you. Being a participant of open source program, I thought you would atleast do the changes for the  time exception I had given to you. I asked time for you from the team. All you do is close up the PR without no response. @anubhav201241

[2021-08-10 10:23] #116 closed

[2021-08-10 10:27] anubhav201241 commented on #116
I have done the changes but still you are kept asking me do that change I have tried it I have created proper issue and pull request template work on coding part and made the PR but still you are asking me to do more changes I have simply said to you that I have created my pr you can merge it if you want and then you can add that folder in that specific folder in which you want to add but still no

[2021-08-11 17:59] prathimacode-hub commented on #48
Are you willing to work on it and submit the PR? @suy1968

[2021-08-11 18:52] suy1968 commented on #48
Mam, I am submitting tomorrow @prathimacode-hub

[2021-08-21 08:21] prathimacode-hub commented on #48
It's been 10days since issue is assigned. No update yet. Kindly let me know of your progress. Issue can't be held for this long. @suy1968

[2021-08-21 08:21] prathimacode-hub commented on #10
Update? @chandu6111

[2021-08-23 19:17] suy1968 commented on #48
I am giving my placement exam Mam @prathimacode-hub  that why I am now busy

[2021-08-24 07:16] prathimacode-hub commented on #48
Ok, got you. But keep me updated ok. @suy1968

[2021-09-06 05:56] prathimacode-hub commented on #10
Update please? @chandu6111

[2021-09-06 05:56] prathimacode-hub commented on #48
Update please? @suy1968

[2021-09-06 14:53] chandu6111 commented on #10
Sorry @prathimacode-hub , I missed on your previous notification. You could make it up-for-grab, because I am somewhat busy with all placement exams. Sorry for the inconvenience caused.

[2021-09-06 16:53] prathimacode-hub commented on #10
No worries. All the best for your exams. 😎👍@chandu6111

[2021-09-30 18:18] aswinikalyan30 commented on #50
Title: Introduction to Natural Language Processing
About: Natural Language Processing is a branch of AI which deals with understanding and reciprocating words of the natural human language by machines
Name: Aswini Kalyan
Label: Feature Request
Assignee: ''

---

Define You:

- [x] HacktoberFest2021 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

[2021-10-01 03:35] Rishita11 commented on #45
I want to work on this issue under Hacktoberfest 21. Please assign it to me.

[2021-10-01 03:47] avinash-218 commented on #101
Define You:

- [ ] DevIncept Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
- I would like to contribute <b>Generative Adversarial Networks</b> using the <a href="https://www.kaggle.com/jessicali9530/celeba-dataset">Celeba Dataset</a>

**Describe the solution you'd like...**

Steps:
- Import Dataset and Libraries
- Setting Parameters and Hyper-par

[2021-10-01 04:01] prathimacode-hub commented on #101
Are you a part of any event or it's a general contribution? @avinash-218

[2021-10-01 04:01] avinash-218 commented on #101
I'm part of Hacktoberfest 2021

[2021-10-01 04:08] prathimacode-hub commented on #50
Issue assigned to @aswinikalyan30

[2021-10-01 04:09] prathimacode-hub commented on #45
Yes sure, provide the details of the approach you would follow? @Rishita11

[2021-10-01 04:13] Rishita11 commented on #45
I will start from scratch, explaining what is Matplotlib, how to install it, creating different types of graphs with Pyplot, and few other things along with the code snippet.

[2021-10-01 05:30] deepthi1107 commented on #108
please do assign me mam @prathimacode-hub

[2021-10-01 05:30] ashish-reddy-20-08 commented on #111
@prathimacode-hub , can you please assign me this

[2021-10-01 05:30] deepthi1107 commented on #80
please do assign me mam @prathimacode-hub

[2021-10-01 05:31] prathimacode-hub commented on #101
Ok, issue assigned to @avinash-218

[2021-10-01 05:31] ashish-reddy-20-08 commented on #82
@prathimacode-hub , can you please assign me this

[2021-10-01 05:31] ashish-reddy-20-08 commented on #81
@prathimacode-hub , can you please assign me this

[2021-10-01 05:31] ashish-reddy-20-08 commented on #70
@prathimacode-hub , can you please assign me this

[2021-10-01 05:31] deepthi1107 commented on #65
please do assign me mam @prathimacode-hub

[2021-10-01 05:32] prathimacode-hub commented on #45
Ok great. Issue assigned to you. @Rishita11

[2021-10-01 05:32] ashish-reddy-20-08 commented on #35
@prathimacode-hub , can you please assign me this

[2021-10-01 05:33] deepthi1107 commented on #37
please do assign me mam @prathimacode-hub

[2021-10-01 05:33] deepthi1107 commented on #51
please do assign me mam @prathimacode-hub

[2021-10-01 05:34] deepthi1107 commented on #10
please do assign me @prathimacode-hub

[2021-10-01 05:36] ashish-reddy-20-08 commented on #104
@prathimacode-hub , can you please assign me this

[2021-10-01 05:36] ashish-reddy-20-08 commented on #72
@prathimacode-hub , can you please assign me this

[2021-10-01 05:38] ramya-neelakantan commented on #82
Hi! I'd like to work on this for Hacktoberfest 21. Can you please assign it to me?
I plan to write detailed information on how supervised learning is applied, along with sample codes and examples.

[2021-10-01 05:42] ramya-neelakantan commented on #70
Hello @prathimacode-hub ! I wish to work on this for Hacktoberfest'21.
I plan to write a detailed article on Introduction to Machine Learning and how it can be applied in various spheres of life.
I'm also a mentor in the ML/AI at GDSC at our college so I feel I'll be able to justify my contribution to the project

[2021-10-01 05:43] prathimacode-hub commented on #10
Yes, I can assign but since this issue is created by some one else. Add up your approach and as part of what open source program are you contributing? @deepthi1107

[2021-10-01 05:44] prathimacode-hub commented on #82
Issue is assigned to @ramya-neelakantan

[2021-10-01 05:45] ramya-neelakantan commented on #47
Hello @prathimacode-hub ! I'd like to contribute here as a part of Hacktoberfest'21. Please assign this project to me. I plan to write a detailed article on Dataframes in Python.

[2021-10-01 05:45] prathimacode-hub commented on #82
@ashish-reddy-20-08, can you choose some other issue. Also while asking your assignment mention the approach and through what open source program are you taking up this issue.

[2021-10-01 05:48] prathimacode-hub commented on #70
@ramya-neelakantan, from one repository only 1 issue at a time. You can other repositories as well if you want to work simultaneously.

[2021-10-01 05:48] prathimacode-hub commented on #70
@ashish-reddy-20-08, provide the details to get it assigned.

[2021-10-01 05:50] deepthi1107 commented on #10
mam @prathimacode-hub I have made changes in my comment mam.

[2021-10-01 05:51] ashish-reddy-20-08 commented on #70
@prathimacode-hub , can you please assign me this mam. I am part of hacktoberfest2021.
My approach : Detailed explanation with examples and its benefits and uses.

[2021-10-01 05:52] prathimacode-hub commented on #70
Yes, issue assigned to @ashish-reddy-20-08

[2021-10-01 05:53] prathimacode-hub commented on #82
Yes, its all mentioned in contributing guidelines and while create PR use the PR template given. Along with that, you can find the project structure that needs to be followed in README.md file of thie repository. @ramya-neelakantan

[2021-10-01 05:55] prathimacode-hub commented on #10
Ok, issue is assigned to @deepthi1107

[2021-10-01 11:36] avinash-218 commented on #100
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
- I would like to contribute <b>Recurrent Neural Network using Google stock price dataset.

**Describe the solution you'd like...**

Steps:
- Import Dataset and Libraries
- Feature Scaling
- Building Architecture of the Neural Network
- Compiler the network
- FIt t

[2021-10-01 11:43] prathimacode-hub commented on #100
Issue assigned to @avinash-218

[2021-10-01 12:38] avinash-218 commented on #98
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
- I would like to contribute using dataset which I will upload.

**Describe the solution you'd like...**

Steps:
- Import Dataset and Libraries
- Train Test Split
- Augmentation
- Build Model
- Visualize Model
- Compile And Train Model
- Visualize Efficiency on tra

[2021-10-01 13:04] avinash-218 commented on #72
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
- I would like to contribute to ANN with Feature Extraction using Homer Bart dataset which I will upload.

**Describe the solution you'd like...**

Steps:
- Import Dataset and Libraries
- Train Test Split
- Build Model
- Compile And Train Model
- Evaluate on test d

[2021-10-01 13:07] avinash-218 commented on #90
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
- I would like to contribute using dataset which I will upload.

**Describe the solution you'd like...**

Steps:
- Import Dataset and Libraries
- Data Preprocessing
- Training with Apriori
- Display Association Rules Based on Lift Value

[2021-10-01 13:09] avinash-218 commented on #80
Define You:

- [x] Hacktoberfest2021 Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
- I would like to contribute using Mall Customers dataset.

**Describe the solution you'd like...**

Steps:
- Import Dataset and Libraries
- Encoding Categorical Column
- Find Optimal Number of clusters using Dendogram
- Training
- Visualizing Clusters
- Analysis b

[2021-10-01 13:11] avinash-218 commented on #37
Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
- I would like to contribute using salary prediction datasetwhich I will upload.

**Describe the solution you'd like...**

Steps:
- Import Dataset and Libraries
- Feature Scaling
- Training
- Predicting
- Visualization
- Plot High Resolution and Smooth Curve

[2021-10-02 09:27] harshita9621 commented on #89
@prathimacode-hub can you please assign me this mam. I am part of hacktoberfest2021.

[2021-10-02 15:20] tanvideshmukh29 commented on #108
@prathimacode-hub
I would love to contribute mam as a part of hacktoberfest2021.
Can you assign this to me?

[2021-10-02 15:20] tanvideshmukh29 commented on #100
@prathimacode-hub
I would love to contribute mam as a part of hacktoberfest2021.
Can you assign this to me?

[2021-10-02 15:27] tanvideshmukh29 commented on #94
@prathimacode-hub
I would love to contribute mam as a part of hacktoberfest2021.
Can you  please assign this to me?

[2021-10-02 17:53] tanvideshmukh29 commented on #104
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
I will make a project using sentiment Analysis.

[2021-10-02 18:10] Deepansh04 commented on #46
hi plz assign me this issue

[2021-10-02 18:27] tanvideshmukh29 commented on #7
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
Can you plz assign this to me.

[2021-10-02 18:28] tanvideshmukh29 commented on #50
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
can you please assign this to me

[2021-10-02 18:32] tanvideshmukh29 commented on #72
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
I will model using ANN.
please assign this to me

[2021-10-02 18:40] prathimacode-hub commented on #104
On FCFS, issue is assigned to @ashish-reddy-20-08

You can choose some other @tanvideshmukh29. There are many more issues.

[2021-10-02 18:55] tanvideshmukh29 commented on #38
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
Can you please assign it to me.

[2021-10-02 19:00] tanvideshmukh29 commented on #41
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
Can you plz assign this to me.

[2021-10-03 04:52] aswinikalyan30 commented on #50
Hey! This issue is assigned to me and I'm working on it! You can check out other issues labeled "up for grab"

[2021-10-03 05:36] #100 closed

[2021-10-03 05:38] prathimacode-hub commented on #111
Issue assigned to @ashish-reddy-20-08

[2021-10-03 05:39] prathimacode-hub commented on #108
Issue assigned to @deepthi1107

You can choose other issue, its allotted on FCFS. @tanvideshmukh29

[2021-10-03 05:40] prathimacode-hub commented on #98
Issue assigned to @avinash-218

[2021-10-03 05:40] prathimacode-hub commented on #90
Already an issue is assigned to you. @avinash-218

[2021-10-03 05:41] prathimacode-hub commented on #94
Issue assigned to @tanvideshmukh29

[2021-10-03 05:41] prathimacode-hub commented on #89
Issue assigned to @harshita9621

[2021-10-03 05:42] prathimacode-hub commented on #81
Already an issue is assigned to you. @ashish-reddy-20-08

[2021-10-03 05:43] prathimacode-hub commented on #47
Issue assigned to @ramya-neelakantan

[2021-10-03 05:43] prathimacode-hub commented on #46
Are you a participant of hacktober fest? @Deepansh04

[2021-10-03 06:37] Deepansh04 commented on #46
yea i am a part of hactoberfest 2021

[2021-10-03 13:23] #101 closed

[2021-10-03 13:25] prathimacode-hub commented on #80
Issue assigned to @avinash-218

[2021-10-03 13:26] prathimacode-hub commented on #72
Kindly add proper issue template. @tanvideshmukh29

[2021-10-03 13:26] prathimacode-hub commented on #72
@avinash-218 one after other.

[2021-10-03 13:26] prathimacode-hub commented on #65
Issue assigned to @deepthi1107

[2021-10-03 13:27] prathimacode-hub commented on #51
Already an issue is assigned to you. @deepthi1107

[2021-10-03 13:28] prathimacode-hub commented on #46
Add issue template along with details to get it assigned. @Deepansh04

[2021-10-03 13:28] prathimacode-hub commented on #35
I guess already an issue is assigned to you. @ashish-reddy-20-08

[2021-10-03 13:31] ashish-reddy-20-08 commented on #35
yes mam, Working on it, I will upload the PR for that in sometime.

[2021-10-03 14:02] tanvideshmukh29 commented on #72
@prathimacode-hub
I would love to contribute as a participant of hacktoberfest2021.
please assign this to me

[2021-10-03 14:16] avinash-218 commented on #80
@prathimacode-hub Under which directory do I need to make my changes?

[2021-10-04 04:45] Deepansh04 commented on #46
i will be adding all three type of plots scatter ,line , categorical plots with their examples and defination also providing the screenshots and the jupiter notebook

[2021-10-05 08:02] prathimacode-hub commented on #46
Issue assigned to @Deepansh04

[2021-10-05 08:03] prathimacode-hub commented on #7
Issue assigned to @tanvideshmukh29

[2021-10-05 08:11] sejalsingh417 commented on #106
please assign it to me, I will do it in Python.

[2021-10-05 08:16] prathimacode-hub commented on #37
Issue assigned to @avinash-218

[2021-10-06 13:21] theshredbox commented on #84
Ma'am I would like to take this issue as a contribution of Hacktoberfest '21.
Name- Aryan Ahuja
Hacktoberfest Participant
Type- Documentation
Approach- Defining bagging and boosting and giving examples for each using codes.\

[2021-10-06 13:21] freny24 commented on #96
@prathimacode-hub I would like to work on this issue for hacktoberfest. Please assign me.
Approach : Explaining keras with code snippets

[2021-10-07 03:51] rashmitha520 commented on #88
Can I work on this issue as part of hacktoberfest'21? Thanks!

[2021-10-09 07:46] freny24 opened #137 "Data Fitting using RANSAC Algorithm"
**Title: Implementation of RANSAC Algorithm**
**About: Describe RANSAC in detail with code**
 **Name: Freny Reji**
**Label: Feature Request**
**Assignee: ''**

---

Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

**Describe the solution you'd like...**

Implement RANSAC Algorithm in python and explain in detail.

**Approach to be followed (optional):**
1. Create a README file t

[2021-10-10 09:24] avinash-218 commented on #80
@prathimacode-hub

can you mention under which directory do I need to make my changes?

[2021-10-10 11:14] #84 closed

[2021-10-12 10:57] prathimacode-hub commented on #106
Ok, issue assigned. @sejalsingh417

[2021-10-12 11:00] prathimacode-hub commented on #111
Are you working on this? @ashish-reddy-20-08

[2021-10-12 11:01] ashish-reddy-20-08 commented on #104
ya mam, I am working on this.

[2021-10-12 11:03] prathimacode-hub commented on #80
Under machine learning, in tutorials repo. Kindly work on your PR changes as well. @avinash-218

[2021-10-12 11:03] prathimacode-hub commented on #72
Any issues assigned to you. @tanvideshmukh29

[2021-10-12 11:04] prathimacode-hub commented on #65
Shall I remove the assignment? @deepthi1107

[2021-10-12 11:05] ashish-reddy-20-08 commented on #70
Sorry for the inconvienece mam, U can unassign me from this.

[2021-10-12 11:05] prathimacode-hub commented on #48
No update have to remove the assignment. @suy1968

[2021-10-12 12:15] freny24 commented on #96
@prathimacode-hub  yes ma'am. I have my files ready , but I cannot open a Pull request as my another PR (RAnsac one ) is not approved. Will do it shortly.

[2021-10-14 16:27] tanvideshmukh29 commented on #72
@prathimacode-hub  Can I start working on it mam.

[2021-10-15 07:12] aswinikalyan30 commented on #50
Hi, do you want to take this up?

[2021-10-16 13:49] sejalsingh417 commented on #106
yes, I am a hacktober fest participant

[2021-10-17 11:48] Rahuls66 opened #144 "Law of Large Numbers Explainer"
---
Title: Law of Large Numbers Explainer
About: A Python script that let users learn about the Law of Large Numbers Statistical concept in an interactive way.
Name: Rahul Shah
Label: New Script Request
Assignee: ''

---

Define You:

- [x] Hacktoberfest2021 Participant
- [x] Contributor

---

PS: Had submitted this script before to `Awesome_Python_Scripts` repo, but now got to know about `DS-Scri

[2021-10-31 07:53] prathimacode-hub opened #147 "K Medoid Based Clustering"
Hey hacktoberfest participants, good to see you here

This issue will helps readers in giving all the guidance that one needs to learn about K Medoid Based Clustering. Tutorial to K Medoid Based Clustering and how it's applied using sample code.

"Project Title" should be the "Issue Title" mentioned here.

If you like to work on this issue, follow the given guidelines for code as well as for the R

[2021-10-31 07:56] photon149 commented on #147
Hello , I would like to work on the issue , will explain k medoid algorithm , alongside a proper neat impementation of the code plus a comparison of how the kmedoid algorithm performs in comparison to other algorithms as well.

[2021-10-31 08:10] prathimacode-hub commented on #147
Issue assigned. @photon149

[2021-10-31 14:32] #147 closed

[2021-10-31 14:34] #144 closed

[2021-10-31 18:15] #98 closed

[2021-10-31 18:19] #96 closed

[2021-10-31 18:22] prathimacode-hub commented on #37
It should go under "/Machine Learning/Algorithms/" folder. @avinash-218

[2021-10-31 18:22] #137 closed